.ventana_contacto {
    background-color: $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-family: $fontRoboto;
        padding: 20px;
    }

    .formulario {
        background-color: $mainColor;
        ;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width: 99%;
        padding: 30px;
        margin: 10px;

        .form-control {
            margin: 20px;
            background-color: $secondaryColor;

            &:hover {
                background-color: rgba(12, 2, 2, 0.234);
                border-color: rgba(12, 2, 2, 0.234);
            }
        }

        .btn_enviar {
            background-color: #b8860b;
            font-family: $fontRoboto;
            font-size-adjust: initial;
            padding: 10px;
            margin: 10px 20px;
            border: 1px solid black;
            border-radius: 50%;
            height: 50;
            width: 30;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}